@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "TTTtangsbudaejjigaeB";
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #e3aaaa;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #841010;
  margin-top: 25px;
  margin-bottom: 4px;
  font-size: 28px; /* 조정: 모바일에서 제목 폰트 크기 작게 설정 */
}

main {
  margin: 20px;
}

h2 {
  color: #555;
  font-size: 24px; /* 조정: 모바일에서 부제목 폰트 크기 작게 설정 */
  margin: 10px 0;
}

p {
  color: #555;
  font-size: 20px; /* 조정: 모바일에서 본문 폰트 크기 작게 설정 */
  line-height: 1.5;
}

#linkSection {
  text-align: center;
  margin-top: 20px;
}

#match-img {
  width: 50%; /* 조정: 모바일에서 이미지 크기 확대 */
  height: auto;
  margin-bottom: 20px;
  display: block; /* 이미지 가운데 정렬 */
  margin-left: auto;
  margin-right: auto;
}

#linkTitle {
  color: #841010;
  font-size: 64px; /* 조정: 모바일에서 링크 제목 폰트 크기 작게 설정 */
  margin-bottom: 10px;
}

#linkText {
  font-size: 20px; /* 조정: 모바일에서 링크 텍스트 폰트 크기 작게 설정 */
}

.cta-button {
  background-color: #fd7070;
  border: thin solid;
  border-color: #841010;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px; /* 조정: 모바일에서 버튼 폰트 크기 작게 설정 */
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}
