@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TTTtangsbudaejjigaeB";
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #e3aaaa;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #841010;
  margin: 0;
}

main {
  margin: 20px;
}

p {
  color: #555;
  font-size: 18px; /* 조정: 모바일에서 본문 폰트 크기 작게 설정 */
  line-height: 1.5;
}

.cta-button {
  background-color: #fd7070;
  border: thin solid;
  border-color: #841010;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; /* 조정: 모바일에서 버튼 폰트 크기 작게 설정 */
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.result-img {
  width: 60%; /* 조정: 모바일에서 이미지 크기 확대 */
}

#resultSection {
  font-size: 24px; /* 조정: 모바일에서 결과 섹션 폰트 크기 작게 설정 */
  transform: scale(1); /* 조정: 모바일에서 크기 변환 제거 */
  text-shadow: 2px 2px 4px rgb(128, 28, 28);
}

.contentSection {
  font-family: "NanumSquareNeo-Variable";
  list-style-type: none;
}

.lastment {
  font-size: 12px; /* 조정: 모바일에서 마지막 문구 폰트 크기 작게 설정 */
  color: white;
  background-color: #e3aaaa;
}
