@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NanumSquareNeo-Variable";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "TTTtangsbudaejjigaeB";
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: #e3aaaa;
  padding: 20px;
  text-align: center;
}

h1 {
  color: #841010;
  margin: 0;
}

main {
  margin: 20px;
}

p {
  color: #555;
  font-size: 18px; /* 모바일에서 본문 폰트 크기 작게 설정 */
  line-height: 1.5;
}

.cta-button {
  background-color: #fd7070;
  border: thin solid;
  border-color: #841010;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; /* 모바일에서 버튼 폰트 크기 작게 설정 */
  margin-top: 20px;
  cursor: pointer;
  border-radius: 5px;
}

#choicesSection {
  text-align: center;
  display: flex;
  flex-direction: column; /* 모바일에서 요소를 세로로 정렬하기 위해 변경 */
  justify-content: center;
  align-items: center;
}

.choice-container {
  background-color: #ff9a8d;
  border-radius: 5px;
  width: 80%; /* 모바일에서 요소 너비 조정 */
  height: 150px; /* 모바일에서 요소 높이 조정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px; /* 모바일에서 요소 간격 조정 */
  box-shadow: 5px 5px 5px 5px gray;
}
